/* ESTILOS GENERALES */
body {
  font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f6ff;
  margin: 0;
  padding: 10px;
  color: #333;
}

h1 {
  text-align: center;
  color: #1250AC;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
  color: #0e3d85 !important;
  font-weight: 400;
}

a {
  display: block;
  text-align: center;
  color: #1250AC;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}



p {
  font-size: 1em;
  color: #555;
  margin: 10px 0;
}

strong {
  color: #0e3d85 ;
}

#eventEnlace {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
}

#eventEnlace:hover {
  text-decoration: underline;
}

/* CONTENEDOR PRINCIPAL */
.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  max-width: 1500px;
  margin: auto;
  padding: 0px 50px 50px 50px;
}

.contenedor-2 {
  display: flex;
  justify-content: flex-end; /* contenido principal a la derecha */
  align-items: center;
  max-width: 1450px;
  margin: auto;
  padding: 20px 50px 30px 50px;
  position: relative; /* necesario para centrar el h1 */
}

.titulo-centrado {
  background-color: #FFF;
  padding: 8px 12px;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 35px;
  font-weight: 500;
}
.usuario,
.iconos,
.login-link {
  color: #1250AC;
  margin-left: 10px;
}

.iconos i {
  margin-left: 0;
  color: #1250AC !important;
}

.bloque-derecha {
  display: flex;
  align-items: center;
  background-color: #FFF; /* rojo claro, puedes cambiarlo */
  padding: 8px 12px;
  border-radius: 8px;
  gap: 10px;
  
}


/* FORMULARIO */
.formulario {
  background-color: #ffffff;
  padding: 40px 40px 20px 20px;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

.formulario h2 {
  margin-top: 0;
  color: #1250AC;
}

.formulario label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  color: #0e3d85;

}

.formulario input, 
.formulario textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #D6E5EF !important;
  border-radius: 6px;
}

.formulario [type="text"]{
  font-family: 'Montserrat', sans-serif !important;
}

.formulario [type="textarea"]{
  font-family: 'Montserrat', sans-serif !important;
}


.formulario button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #1250AC;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #0d3a85;
}

/* CALENDARIO */
.fc .fc-toolbar-title {
  font-size: 1.5em;
  margin: 0;
}
#calendar {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

/* FULLCALENDAR */
.fc-event-title {
  font-size: 9px;
  white-space: normal;
  line-height: 1.2;
  font-weight: bold !important;
}




.fc .fc-button {
  background-color: #1250AC;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.fc .fc-button:hover {
  background-color: #34495e;
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #1a252f;
}

/* Clases para el color de fondo */
.fc-event.consejo {
  background-color: #0e3d85 !important; /* verde */
  color: white !important; /* texto blanco */
  border: none !important;
  border-radius: 5px !important;
  padding: 6px 8px !important;
  font-size: 5px !important;
  font-weight: 200 !important;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}
.fc-event.admin {
  background-color: #850e46 !important; /* verde */
  color: white !important; /* texto blanco */
  border: none !important;
  border-radius: 5px !important;
  padding: 6px 8px !important;
  font-size: 5px !important;
  font-weight: normal !important;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

.fc-event.drtc {
  background-color: #28a745 !important; /* rojo */
  color: white !important; /* texto blanco */
  border: none !important;
  border-radius: 5px !important;
  padding: 6px 8px !important;
  font-size: 5px !important;
  font-weight: 200 !important;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

.fc-event.default {
  background-color: #999 !important; /* gris como valor por defecto */
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 6px 8px !important;
  font-size: 5px !important;
  font-weight: 200 !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.fc-daygrid-event-harness {
  
  flex-direction: column;
  align-items: flex-start;
}


.fc .fc-col-header-cell {
  background-color: #FAFCFD; /* o #FFFFFF si lo quieres completamente blanco */
}
.fc-theme-standard td,
.fc-theme-standard th {
  border-right: 1px solid #D6E5EF;
  border-bottom: 1px solid #D6E5EF;
  border-left: none;
  border-top: none;
}

/* Aplica solo el borde izquierdo y superior al contenedor */
.fc .fc-scrollgrid {
  border-left: 1px solid #D6E5EF;
  border-top: 1px solid #D6E5EF;
  border-radius: 5px;
  overflow: hidden;
}



.fc-daygrid-day {
  min-height: 100px;
}

.fc-daygrid-day-number {
  position: relative;
}

.fc-daygrid-event {
  margin-bottom: 5px;
  padding: 4px 6px;
  font-size: 0.4em;
}
.fc-daygrid-event::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.fc-daygrid-event.fc-v-event {
  margin-top: 2px;
}

.fc-daygrid-event-dot {
  display: none !important;
  
}


.fc-event:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}

/* MODAL GENERAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  max-width: 90%;
  border-radius: 10px;
  text-align: center;
  position: relative;
}


/* Botones de cierre */
.close, .close-error {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close-error:hover {
  color: #000;
}

/* Modal de error específico */
#errorModal .modal-content {
  background-color: #ffe5e5;
  border: 1px solid #ff0000;
}

#errorModal h2 {
  color: #d8000c;
}

#errorModal p {
  color: #d8000c;
}

/* Animación fade-in */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal {
  animation: fadeIn 0.3s ease-out;
}

.iconos {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 5px;  /* Reducir el margen superior si es necesario */
  margin-bottom: 0; /* Eliminar el margen inferior */
}

.iconos i {
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease;
}

.iconos i:hover {
  color: #007BFF;
}

footer.footer p {
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
  font-size: 16px;
  color: #0d3a85; /* Establecer el color del texto */
}

footer.footer i {
  color: #0d3a85; /* Color del icono (puedes cambiar el rojo si quieres otro color) */
}

footer.footer p {
  margin: 0;
  text-align: center;
}

